.peoplesWindow {
    /* border: 2px solid green; */
    width: 90%;
    margin: auto;
    height: 32em;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 8px gray;
}

.youWantToKnow {
    /* border: 2px solid black; */
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    border-bottom: 4px solid rgb(107, 74, 224);
}

.peopleTabs {
    /* border: 2px solid green; */
    height: 80%;
    overflow: scroll;
}

.peopleTabs::-webkit-scrollbar {
    display: none;
}

.peopleTab {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    height: 4em;
    gap: 12px;
    padding-left: 12px;
    cursor: pointer;

}

.peopleTab:hover {
    background-color: rgb(241, 237, 246);
}

.peopleTab>div:nth-child(2) {
    /* border: 2px solid green; */
    width: 72%;
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}


.peopleTab>div>div {
    overflow: hidden;
    /* border: 2px solid rgb(107, 74, 224); */
    height: 2em;
    display: flex;
    align-items: center;
}

.peopleTab>div>div>p {
    /* border: 2px solid red; */
    width: 150px;
}


.peopleTab>div>span {
    color: rgb(107, 74, 224);
    border: 2px solid rgb(107, 74, 224);
    border-radius: 7px;
    font-size: small;
    height: 2em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peopleTab>div>span:hover {
    color: white;
    background-color: rgb(107, 74, 224);

}

.peopleProfileIcon {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peopleProfileIcon>img {
    height: 100%;
}

.morePeoples {
    /* border: 2px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(107, 74, 224);
    font-size: medium;
    font-weight: bold;
    border-top: 2px solid rgb(107, 74, 224);

}

.morePeoples>p {
    cursor: pointer;
}