.home {
    /* border: 2px solid green; */
    width: 80%;
    min-height: 670px;
    height: 100vh;
    margin: auto;
    display: flex;
    padding-top: 4rem;
    overflow: hidden;
}


.homeLeft {
    /* border: 2px solid red; */
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.homeLeft>a {
    /* border: 2px solid black; */
    width: 93%;
    padding: 18px 10px;
    display: flex;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0px 0px 8px gray;

}

.homeProfileWindow {
    /* border: 2px solid green; */
    width: 93%;
    height: 10vh;
    border-radius: 15px;
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(128, 128, 128);
    display: flex;
    align-items: center;
    padding: 12px;
}

.homeProfileUsername:hover {
    color: rgb(107, 74, 224);
}

.homeProfileIcon {
    /* border: 2px solid blue; */
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeProfileIcon>img {
    /* width: 100%; */
    height: 100%;

}

.homeProfileUsername {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: black;
    font-weight: bold;
    margin-left: 12px;
}

.homeProfileUsername>span:nth-child(2) {
    font-size: medium;
    color: gray;
    font-weight: normal;
    padding-top: 6px;
}

.homeLeft>button {
    width: 93%;
    height: 4em;
    border-radius: 100vw;
    background-color: rgb(107, 74, 224);
    font-size: medium;
    border: none;
    color: white;
    font-weight: bold;
}

.homeLeft>button:hover {
    background-color: white;
    border: 5px solid rgb(107, 74, 224);
    color: rgb(107, 74, 224);
    transition: .4s;
    font-size: large;
}



.homeCenter {
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    overflow: scroll;
}

.homeCenter::-webkit-scrollbar {
    display: none;
}

.homeRight {
    /* border: 2px solid blue; */
    width: 25%;
    height: 100%;
    overflow: scroll;
    padding-bottom: 15px;
}

.homeRight::-webkit-scrollbar {
    display: none;
}