.profileWindow {
    /* border: 2px solid red; */
    width: 95%;
    height: 27em;
    margin: 15px auto;
    border-radius: 12px;
    box-shadow: 0px 0px 8px gray;
    background-color: white;
    overflow: hidden;
    z-index: -121;

}

.userBackgroundImage {
    /* border: 2px solid blue; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.userBackgroundImage>img {
    max-width: 100%;
}

.userProfileInfo {
    /* border: 2px solid green; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.userProfilePhoto1st {
    /* border: 2px solid blue; */
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: center;
}

.userProfilePhoto {
    /* border: 2px solid green; */
    width: 7em;
    height: 7em;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 6px 10px rgba(128, 128, 128, 0.821);
    position: relative;
    bottom: 5.5em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userProfilePhoto>img {
    /* width: 100%; */
    height: 100%;
}

.userNameAndBio {
    text-align: center;
}

.userNameAndBio>p {
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;

}

.userNameAndBio>span {
    font-size: medium;
    color: gray;

}

.userFollowList {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5em;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.userFollowList>div {
    /* border: 2px solid blue; */
    width: 33.33%;
    text-align: center;
    line-height: 28px;
    border-right: 2px solid gray;
}

.userFollowList>div>p {
    font-weight: bold;
    font-size: larger;
}

.userFollowList>div>span {
    color: gray;
    font-size: small;
}